/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/

.menu {
  float: right;
  margin: 13px 0 0;
  ul {
    padding: 0;
    li {
      display: inline-block;
      margin: 0 20px 0;
      text-align: right;
      a {
        display: block;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 700;
        &:hover {
          color: #17daa3;
        }
      }
    }
  }
}

.h-page {
  .search {
    float: right;
    font-size: 25px;
    padding: 0 1px;
    margin: 10px 0 0 20px;
  }
  a.search:hover {
    color: #17daa3;
  }
}
